Source: winst-change-windows-settings
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0

Package: winst-change-windows-settings
Architecture: all
Description: ${iserv:winst:Description}
Tag: suite::iserv:deploy, role::package
 
